# reference here: https://coverage.readthedocs.io/en/coverage-5.1/config.html

[run]
source = pathml
omit =
    pathml/preprocessing/base_*
command_line = -m pytest

[html]
directory = coverage_report_html
