name: pre-commit-hooks

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.10
        uses: actions/setup-python@v1
        with:
          python-version: 3.10
      - name: Linting
        run: |
          pip install pre-commit
          pip install black
          black .
          pre-commit run --all-files
