name: Publish PathML Docker image on Docker Hub

on:
  workflow_dispatch:
  release:
    types: 
      - published

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: free disk space
        run: |
          sudo swapoff -a
          sudo rm -f /swapfile
          sudo apt clean
          docker rmi $(docker image ls -aq)
          sudo df -h
          sudo du -h
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set version number variable
        run: |
          VER=$(cat pathml/_version.py | grep -o  '"[^"]\+"' | tr -d '"')
          echo "VERSION=$VER" >> $GITHUB_ENV
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1.2.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1.6.0
      - name: Login to DockerHub
        uses: docker/login-action@v1.10.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v4 
        with:
          context: .
          platforms: linux/amd64,linux/arm64  
          push: true
          tags: |
            pathml/pathml:latest
            pathml/pathml:${{ env.VERSION }}
