name: Tests

on: 
  pull_request:
    branches:
      - dev
      - master
  push:
    branches:
      - dev
      - master

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
      matrix:
        python-version: [3.8, 3.9]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    # Test matrix by printing the current Python version
    - name: Display Python version
      run: python -c "import sys; print(sys.version)"
    - name: Install dependencies
      shell: bash -l {0}
      run: |
        sudo apt-get update
        # install openslide
        sudo apt-get install openslide-tools
        # install pandoc for making documentation
        sudo apt-get install pandoc
    - name: Setup Miniconda
      # You may pin to the exact commit or the version.
      # uses: conda-incubator/setup-miniconda@f4c00b0ec69bdc87b1ab4972613558dd9f4f36f3
      uses: conda-incubator/setup-miniconda@v2.0.0
      with:
        add_pip_as_python_dependency: false
        environment-file: environment.yml
        activate-environment: pathml
        python-version: ${{ matrix.python-version }}
    - name: Conda info
      shell: bash -l {0}
      run: |
        conda info
        conda list
    - name: pip install pathml
      shell: bash -l {0}
      run: pip install -e .
    - name: disk usage
      shell: bash -l {0}
      run: |
        sudo df -h
        sudo du -h
    - name: Test with pytest and generate coverage report
      shell: bash -l {0}
      run: |
        coverage run -m pytest -m "not slow"
        coverage xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        env_vars: OS,PYTHON
        fail_ci_if_error: true
        files: ./coverage.xml
        name: codecov-umbrella
        verbose: true
    - name: Compile docs
      shell: bash -l {0}
      run: |
        cd docs
        pip install -r readthedocs-requirements.txt
        make html
