name: Tests Cross-Platform

on:
  workflow_dispatch:
  pull_request:
    branches:
      - dev
      - master
  push:
    branches:
      - dev
      - master

jobs:
  build:
    runs-on: windows-latest  # Use Ubuntu if you're building on Linux, or keep windows-latest if you're targeting Windows.
    strategy:
      max-parallel: 5
      matrix:
        python-version: [3.9]
    timeout-minutes: 60

    steps:
    - uses: actions/checkout@v2
    
    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'temurin' # Use 'temurin' for Eclipse Temurin distribution
        java-package: jdk # Make sure it's JDK not JRE
      id: setup-java

    - name: Set JAVA_HOME and PATH
      run: |
        echo "JAVA_HOME=${{ steps.setup-java.outputs.java_home }}" >> $GITHUB_ENV
        echo "JDK_HOME=${{ steps.setup-java.outputs.java_home }}" >> $GITHUB_ENV
        echo "${{ steps.setup-java.outputs.java_home }}\bin" >> $GITHUB_PATH

    - name: Verify JAVA_HOME and Java installation
      run: |
        echo "JAVA_HOME: $JAVA_HOME"
        java -version
        javac -version
        
    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v2
      with:
        auto-activate-base: false
        activate-environment: pathml
        environment-file: '.github/ci-environments/env-py39.yml'  # Directly specify the env-py39.yml file
        mamba-version: "*"
        python-version: ${{ matrix.python-version }}

    - name: Debugging
      shell: bash -l {0}
      run: |
        echo "Checking the status of mamba..."
        mamba --version
        echo "Checking the available disk space..."
        df -h

    - name: Conda info
      shell: bash -l {0}
      run: |
        conda info
        conda list

    - name: Install PathML
      shell: bash -l {0}      
      run: pip install -e .
